<form #carForm="ngForm" (ngSubmit)="onSubmit(carForm)">
  <div>
    <label for="model">Модель:</label>
    <input type="text" id="model" name="model" ngModel required>
  </div>
  <div>
    <label for="state">Состояние:</label>
    <input type="text" id="state" name="state" ngModel required>
  </div>
  <div>
    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" ngModel required>
  </div>
  <button type="submit">{{ selectedCar ? 'Обновить' : 'Добавить' }}</button>
</form>

<h3>Список автомобилей</h3>
<ul>
  <li *ngFor="let car of (cars$ | async)">
    {{ car.model }} - {{ car.state }} - ${{ car.price }}
    <button 
        id="edit-button-{{ car.id }}"
        class="edit-button"
        [ngClass]="{'btn-primary': activeEditButtonId === car.id, 'btn-secondary': activeEditButtonId !== car.id}"
        (click)="onEdit(car)">
        Редактировать
    </button>
    <button 
        class="delete-button"
        (click)="onDelete(car)">
        Удалить
    </button>
  </li>
</ul>